.time-filter {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.time-filter-fieldset {
  display: flex;
  font-size: 12px;
}

.time-filter-item {
  flex-grow: 1;
  max-width: 33%;
  padding: 3px;
}

.time-filter-button {
  margin-top: 20px;
  min-height: 30px;
  font-size: large;
  padding: 5px;
  cursor: pointer;
}

.time-filter-select__dropdown-indicator {
  padding: 2px;
}
