.time-filter {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.time-filter-fieldset {
  display: flex;
}

.time-filter-item {
  flex-grow: 1;
  max-width: 33%;
}

.time-filter-button {
  margin-top: 20px;
  min-height: 30px;
  font-size: large;
  padding: 5px;
  cursor: pointer;
}
